.DS_Store
target
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
.idea
.idea/**/*
out/
grails-banner-core*.zip
*.sha1
test/**/cobertura.ser
test/**/release_info.groovy
test/**/release_info.groovy.old
plugin.xml
*en_PS.properties
**-rtl.css
messages_ar_SA.properties
lib/bannerTransform.jar
*.ser
build/
.gradle/**/*
