<plugin name='banner-packaging' version='1.0.3' grailsVersion='1.3.7 &gt; *'>
  <author>Datatel+SGHE</author>
  <title>Banner 9 Web-tier Packaging Framework Plugin</title>
  <description>This plugin adds a package-release Grails target that creates a release package containing an installer.</description>
  <documentation>(Please generate documentation using 'grails doc')</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>